#enclo{
    background-image: url('/Users/rachitdas/Desktop/Project-School-1/aaadan_pradan/src');
}
#Heading{
    color: white;
}
#ph,#Email,#add{
    text-align: center;
    color:white;
    font-weight: 500;
}