#bg-help{
    background-image: url('src/bg.png');
}
#Heading{
    color: white;
    text-align: center;
    padding-top: 3%;
}
#content{
    color: white;
    padding: 3%;
}
#accordionFlushExample{
    padding: 5% 2% 2% 2%;
}
.accordian-body{
    color:aqua;
}