.Search{
    background-image: url(/Users/rachitdas/Desktop/Project-School-1/aaadan_pradan/src);
}
.heading{
    text-align: center;
    color: white;
    padding: 10px 10px;
}
.bar{
    background-color: black;
    width: 90%;
    height: 50px;
    color: white;
    font-size: 25px;
    border: none;
    margin-left: 3%;
    padding-left: 20px;
}
#sub{
    height: 50px;
    float: left;
    width: 4%;
    background: #a8a4ec;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    position: absolute;
}
#filter-heading{
    color: white;
    text-align: center;
}